
<div class="row">
    <div class="col-sm-9">
        <h1><%= @shop[:name] %></h1>
        <p><%= @shop[:address] %></p>
        <h2>What people are saying about <%= @shop[:name] %>  </h2>
        <% for went in @attend %>
            <div class="media">
                <% if went[:attend] %>
                    <i class="fas fa-users"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: went[:user_id]).to_a[0][:name] %></h5>
                    <%= went[:rating] %>
                    <%= went[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <a href="/shops/<%= @shop[:id] %>/attend/new" class="btn btn-primary">Review this shop</a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Info</h3>
        <p><%= @shop[:address] %></p>
           <p><%= @shop[:city] %>, <%= @shop[:state] %></p>
           
 <div class="container mt-5">
      <iframe
        width="250"
        height="200"
        frameborder="1" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @lat_long %>&zoom=16" allowfullscreen>
      </iframe>
    </div>
       	<a href="<%=@shop[:url] %>" target="_blank"><%=@shop[:url] %></a>
        <h3>How many people from Drinkist have been here?</h3>
        <p><%= @going_count %></p>
        <h3>What are people saying about it?</h3>
        <p>Google Rating: <%= @shop[:google_stars] %></p>
        <p>Yelp Rating: <%= @shop[:yelp_stars] %></p>
        <p>Our Users Rating: <%= @review_avg %></p>

    </div>
</div>


